/* Arun Tomy | Evoque Innovative Lab  */

* { outline: none; }

body {
	font-family: 'Roboto', sans-serif;
	background:#fff;
	font-weight:400;
	font-size:14px;
}
h1{
	font-size:48px;
}
h2 {
	color: #333333;
	font-size:30px;
}
h3 {
	font-size:16px;
}
h1, h2, h3 {
	font-weight: 700;
}
p, a {
	font-size:14px;
}
.ev-sec-txt {
	font-size: 24px;
	font-weight: 500;
}
h1, h2, h3, p {
	width: 100%;
}
a {
	display: inline-block;
}
p, a {
	margin: 0px;
}
select {
	line-height: 32px;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	outline: none;
}

::-webkit-input-placeholder { 
  color: #dedede;
}
::-moz-placeholder { 
  color: #dedede;
}
:-ms-input-placeholder { 
  color: #dedede;
}
:-moz-placeholder { 
  color: #dedede;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.ev-primary-btn {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
    text-decoration: none !important;
	background: #f5d453;
	color: #000 !important;
	display: inline-block;
	padding: 15px 30px;
	border: none;
	border-radius: 3px;
    box-sizing: border-box;
}
a.ev-primary-btn:hover {
	background: #dec00b;
}
.ev-heading-separator {
	background: #f5d453;
	margin: 20px 0px 50px;
	width: 50px;
	height: 5px;
	display: inline-block;
}
.ev-margin-top {
	margin-top: 30px;
}
.ev-header-container, .inner-fixed-header {
	padding: 20px 0px 20px;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    z-index: 999;
}
.inner-fixed-header{
	background: #343434 !important;
}
.ev-header-container.sticky {
	background: #343434 !important;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.ev-header-container.offset {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.ev-header-container.scrolling {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}
.ev-menu-item {
	list-style:none;
	-webkit-margin-before: 10px;
    -webkit-margin-after: 0px;
}
.ev-menu-item li {
	float: left;
    position: relative;
    margin:6px 20px;
}
.ev-menu-item li:last-child {
	margin-right: 0px;
	margin-top: 0px;
}
.ev-menu-item li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
}
.ev-sec-btn {
	display: inline-block;
	padding: 5px 14px;
	border: none;
    box-sizing: border-box;
    background: #fff;
    color: #000 !important;
    text-decoration: none !important;
    border-radius: 3px;
    font-weight: 700 !important;
}
a.ev-sec-btn:hover {
	background: #e8e8e8;
}
.ev-header-container.sticky .ev-menu-item li a, .inner-fixed-header .ev-menu-item li a {
	color: #ffffff;
	font-size: 17px;
	font-weight: 500;
} 
.ev-header-container.sticky .ev-menu-item li a.ev-sec-btn, .inner-fixed-header .ev-menu-item li a.ev-sec-btn{
	background: #ffffff;
	color: #333333;
	font-weight: 600;
}
.ev-company-logo-dark, .ev-header-container.sticky .ev-company-logo {
	display: none;
}
.ev-header-container.sticky .ev-company-logo-dark {
	display: block;
}
.ev-usp-container {
	position: relative;
	overflow-x: hidden;
}
.ev-caption-container {
	position: absolute;
    top: 34%;
    left: 0px;
    width: 100%;
}
.ev-caption-container span {
	color: #f5d453;
}
.carousel-indicators li {
	width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 2px #f5d453;
    background-color: rgba(255, 255, 255, 0);
}
.carousel-indicators .active {
	background-color: #f5d453;
}
.ev-usp-container .ev-caption-container .col-md-4 {
	padding-right: 0px;
}
.ev-usp-container .ev-caption-container .col-md-2 {
	padding-left: 5px;
}
.typewrite .wrap {
  border-right: 2px solid #fff !important;
  white-space: nowrap;
  overflow: hidden;
}
.ev-cus-dd{
  padding: 10px 8px 10px 14px;
  background-color:  rgba(208, 208, 208, 0.85);
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}
.ev-cus-dd .select select{
  background: transparent;
  line-height: 1.5;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 17px;
}
.ev-cus-dd .select, .ev-office-type .select{
  background-position:80% center !important;
}
.ev-cus-dd .select {
	background:url('../img/maps-ico.png') no-repeat;
	/*width: 121%;*/

	width: 100%;
}
.ev-office-type .select {
	background:url('../img/space-ico.png') no-repeat;
	width: 115%;
}
.ev-fea-spaces-container {
	padding:60px 0px 120px;
}
.ev-fea-spaces-container .carousel-caption {
	left: 10%;
	padding-bottom: 0px;
}
.ev-fea-spaces-container p {
	font-size: 16px;
}
.ev-fea-spaces-container a span {
	color: #fada4d;
}
.ev-fea-spaces-container img, .ev-fea-spaces-container a {
	transition: all .3s ease-in-out;
	width: 100%;
}
.ev-fea-spaces-container a:hover img {
	transform: scale(1.1);
}
.ev-fea-spaces-container .ev-fea-item {
	overflow: hidden;
}
.ev-promo-container, .ev-partners-container {
	padding: 60px 0px 65px;
	background:url('../img/promo-bg.png') top left repeat;
	position: relative;
}
.ev-promo-container h2, .ev-partners-container h2 {
	color: #fff;
}
.ev-promo-locations span {
	cursor: pointer;
	color:  #aaaaaa;
	padding: 10px 15px;
}
.ev-promo-locations span.active {
	background: #333333;
    color: #fada4e;
}
.ev-mymatchbox-container {
	padding: 60px 0px 90px;
}
.ev-mymatchbox-container .col-sm-3 .ev-heading-separator {
	background: #dadada;
    margin: 10px 0px 8px;
}
.ev-mymatchbox-container h6 {
	font-size: 16px;
	color:  #333333;
}
.ev-mymatchbox-container p {
	color:  #777777;
}
.ev-help-business-container {
	background:url('../img/helping-bg.jpg') top left no-repeat;
	color: #fff;
	padding: 70px 0px;
}
.ev-help-business-container .ev-heading-separator {
	margin: 20px 0px 10px;
}
.ev-help-business-container h2 {
	color: #fff;
}
.ev-help-business-container p {
	font-size: 12px;
	font-weight: 500;
}
.ev-help-business-container span {
	font-size: 30px;
    font-weight: 700;
    vertical-align: top;
}
.ev-testimonial-container, .ev-blogs-container {
	padding: 60px 0px 65px;
}
.ev-testimonial-container .ev-testimonial {
	font-size: 17px;
    font-style: italic;
    color: #777777;
    font-weight: 200;
}
.ev-testimonial-container .ev-img {
	margin-top: 30px;
    margin-bottom: 15px;
}
.ev-testimonial-container .ev-name {
	font-size: 13px;
    font-weight: 700;
    color: #333333;
}
.ev-testimonial-container .ev-company {
	font-size: 12px;
    color: #777777;
}
.ev-testimonial-container .carousel-indicators, .ev-partners-container .carousel-indicators {
	bottom: -50px;
}
.ev-partners-container .align-middle {
	margin: auto;
}
.ev-blogs-container .col-sm-4 .ev-heading-separator {
	background: #dadada;
    margin: 20px 0px 8px;
}
.ev-blogs-container .ev-primary-btn {
	font-size: 14px;
    text-transform: none;
    padding: 8px 15px;
    margin-right: 15px;
    color: #4a4a4a !important;
}
.ev-blogs-container .ev-post-date {
	color:  #aaaaaa;
	font-size: 12px;
	font-weight: 100;
}
.ev-blogs-container .ev-post-date  img {
	margin-right: 5px;
    vertical-align: sub;
}
.ev-main-footer {
	padding: 50px 0px 35px;
    background: url(../img/promo-bg.png) top left repeat;
    position: relative;
}
.ev-main-footer p, .ev-main-footer h6 {
	color: #fff;
	font-weight: 100;
}
.ev-main-footer p, .ev-main-footer a, .ev-main-footer .media-body {
	margin-bottom: 12px;
	font-size: 13px;
	color: #fff;
}
.ev-main-footer a {
	color: #aaaaaa;
	text-decoration: underline;
}
.ev-main-footer .ev-heading-separator {
	margin: 10px 0px 20px;
}
.ev-main-footer .ev-social-wrap a:nth-child(2) {
	margin: 0px 15px;
}
.ev-main-footer .ev-toll-free {
	color: #9e9e9e;
}
.ev-sec-footer {
	padding: 30px 0px;
	background: #333333;
}
.ev-sec-footer, .ev-sec-footer p, .ev-sec-footer a {
	color: #aaaaaa;
	font-size: 12px
}
.ev-sec-footer a {
	margin: 0px 15px;
}
.ev-sec-footer a:last-child {
	margin-right: 0px;
}
.ev-fea-spaces-container .ev-heading-separator {
	margin-bottom: 30px;
}

/*Vinod 05-09-18 */
.ev-main-body{
	padding-top: 120px;
}
.ev-listing-item-caption h3{
	color: #2d2d2d;
	padding-top: 20px;
}
.ev-listing-item-caption p{
    font-size: 14px;
    color: #737373;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.ev-list-item-wrapper a:hover{
	text-decoration: none;
}
.ev-list-item-cta-btn{
    width: auto !important;
    padding: 8px 20px;
    font-size: 13px;
    margin-top: 10px;
    color: #292929 !important;
}
.ev-center-listing-section{
	padding: 120px 0 0px;
}
.no-padding{
	padding: 0;
}
.ev-center-list-map-wrapper{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}
.ev-center-list-wrapper{
	padding-bottom: 60px;
}
.fixedmap{
    position: fixed;
    top: 80px;
    height: 100%;
    right: 0;
    z-index: -999;
}
.ev-list-CTA-section{
	z-index: 9;
	background: #fff;
	padding: 60px 0;
}
.ev-list-CTA-btn-wrapper a{
	font-size: 22px;
    font-weight: 900;
    color: #3c3c3c !important;
    padding: 10px 40px;
}	
.ev-list-item-wrapper img{
	min-height: 200px;
    max-height: 200px;
    width: 100%;
}
.ev-list-select-box{
    background-color: rgba(255, 255, 255, 0.85);
    border: 3px solid #ececec;
}
.padding-right-none{
	padding-right: 0;
}
.nice-select{
	background-color: rgba(208, 208, 208, 0.85);
	border-radius: 0;
	border: 0;
	height: 50px;
    line-height: 50px;
    font-size: 17px;
    width: 100%;
}
.nice-select .current{
    color: #000000;
}
.nice-select .list{
	background-color: #efefef;
	border-radius: 0;
	border: 0;
	color: #292929;
	height: 200px;
    overflow-y: scroll;
    width: 100%;
}

.nice-select .list::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.nice-select .list::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}
.nice-select .list::-webkit-scrollbar-thumb{
	background-color: #fbd90c;
	border: 1px solid #ddd;
}

@media(max-width: 575.98px) {
	
}
@media(max-width: 767.98px) {
	.ev-caption-container {
		left: 6px;
	}
	.ev-menu-item {
		margin-top: 6px;
	}
	.ev-menu-item li {
		margin: 0px 5px;
	}
	.ev-menu-item li a, .ev-menu-item li {
		font-size: 15px;
	}
	.ev-main-footer {
		padding: 30px 0px 0px;
		padding-left: 15px;
	}
	.ev-main-footer .col-sm-6 {
		margin-bottom: 25px;
	}
	.ev-sec-footer .col-sm-6 {
		text-align: center !important;
	}
}
@media(min-width: 575.98px) and (max-width: 767.98px) {

}
@media(min-width: 767.98px) and (max-width: 991.98px) {
	h1 {
		font-size: 40px;
	}
	.ev-menu-item li {
		margin: 0px 8px;
	}
	.ev-header-container {
		padding: 15px 0px 14px;
	}
	.ev-caption-container {
		top: 18%;
	}
	.ev-primary-btn {
		padding: 12px 25px;
	}
	.ev-fea-spaces-container, .ev-mymatchbox-container {
	    padding: 50px 0px 50px;
	}
	.ev-help-business-container {
		padding: 30px 0px;
	}
	.ev-testimonial-container, .ev-blogs-container, .ev-promo-container, .ev-partners-container {
		padding: 30px 0px 65px;
	}
	.ev-heading-separator {
		margin: 20px 0px 10px;
	}
}
@media(min-width:991.98px) and (max-width: 1199.98px) {

}
